* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(238, 28, 37);
}

.App {  
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.flashcard {
  display: flex;
  height: 500px;
  width: 500px; 
  flex-direction: column;
  text-align: center;
  border: 9px solid;
  font-weight: bold;
  background-color: rgb(255, 255, 0);
  grid-template-rows:
}

.chinese-character {
  width: 450px;
  margin: 5px
}