.bg-pic-create-deck {
  background-image: url(./chinese-characters/create-deck-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.button-submit.btn.btn-primary {
  --bs-btn-bg: #385c72;
  --bs-btn-hover-bg:#d2a264 ;
  border: none;
}

.button-gb.btn.btn-warning {
  --bs-btn-bg: #d2a264;
  --bs-btn-hover-bg:#385c72;
  border: none;
}

.search-deck.btn.btn-outline-warning {
  --bs-btn-bg: #385c72;
  --bs-btn-hover-bg: #d2a264;
  border: none;
}

.text-color.text-white {
  --bs-text-opacity: 1;
  color: white!important;
}

.navbar-deck-picture {
  background-image: url(https://img.lovepik.com/free-png/20210919/lovepik-chinese-dragon-shading-png-image_400407022_wh1200.png);
  background-size: contain;
}


#deckName::placeholder {
  color: white;
}

.nav-color-deck {
  background-color: #FFFF00;
  border-bottom: 9px solid #000; 
}

.background-size {
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
